.section-title h2 {
    text-align: center;
    display: inline-block;
    padding-bottom: 0.4em;
    border-bottom-style: double;
    border-bottom-width: 4px;
    color: #42b3e5;
    font-family: fantasy;
}



.section-padding>.container{
    width: 84%;
    margin: auto;
    padding: 35px 35px;
    text-align: justify;
    background-color: #f7f7f7;
    border: 1px solid #d9d9d9;
   
}
.section-padding{
    background:  #e3e3e3;
    padding: 4em 0 4em 0;
    margin-top: 35px;
    margin-bottom: 35px;  
    font-size: 14pt;
}