/*         SLider Css        */

.slider{
    background-image: url('./data/images/home/bus4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% ;
    height: 100vh;
    padding: 200px 100px;
    color: #42b3e5;
  }
  .slider h1{
    font-size: 60px;
    font-family: fantasy;
  }
  