#busmanagemet .busmanagemet {
    background-color: #fff;
    margin: 0 auto;
}

#busmanagemet .seatplan {
    margin: 0 auto;
    width: 210px;
    background: #f6f6f6;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}

#busmanagemet .stering {
    float: left;
    width: 100%;
    text-align: right;
    padding: 10px 5px;
}

#busmanagemet .stering img {
    width: 30px;
}

#busmanagemet .seatplan .seat {
    display: inline-block;
    border-radius: 8px 8px 3px 3px;
    cursor: default;
    width: 25px;
    height: 22px;
    box-sizing: border-box;
    margin: 5px;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    user-select: none;
}

#busmanagemet .seatplan .seat:hover {
    opacity: .7;
    cursor: pointer;
}

#busmanagemet .available {
    background-color: #1476d1 !important;
    color: #fff;
}

#busmanagemet .remove {
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    padding: 2px 10px;
    border-radius: 3px;
    border: none !important;
    box-shadow: 2px 4px 8px rgba(105, 102, 102, 0.5) !important;

}