#features {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 0.09em;
    font-size: 12pt;
    background-color: #f7f7f7;
}

#features>.inner {
    margin: 0 auto;
    max-width: 65em;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

#features h3 {
    font-size: 1.2em;
}

.features-containner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.feature {
    padding: 2em 2em 0.1em 2em;
    border: solid 1px #efefef;
    border-width: 1px;
    margin-left: -1px;
    margin-top: -1px;
    width: 33.33333%;
    background-color: #fff;
}

.feature .fa {
    font-size: 2.8em;
    margin-bottom: 0.7em;
}

@media screen and (max-width: 480px) {
    .feature {
        padding: 2em 0.5em 0.1em 0.5em;
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    #features {
        padding: 4em 2em 2em 2em;
    }
    #features>.inner {
        width: 100%;
    }
}

@media screen and (max-width: 736px) {
    #features {
        padding: 3em 1.5em 1em 1.5em;
    }
}

@media screen and (max-width: 480px) {
    #features {
        padding: 2em 1em 0.1em 1em;
    }
}